# Tasks for Kubernetes master nodes

- name: Add Kubernetes apt repository
  apt_repository:
    repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
    state: present
    filename: kubernetes

- name: Install Kubernetes components
  apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: present
    update_cache: yes

- name: Hold Kubernetes packages at current version
  dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop:
    - kubelet
    - kubeadm
    - kubectl

- name: Initialize Kubernetes cluster
  command: kubeadm init --pod-network-cidr=10.244.0.0/16
  when: inventory_hostname == groups['masters'][0]

- name: Setup kubeconfig for root user
  file:
    path: /root/.kube
    state: directory
  when: inventory_hostname == groups['masters'][0]

- name: Copy admin.conf to root user
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    remote_src: yes
    owner: root
    group: root
  when: inventory_hostname == groups['masters'][0]

- name: Apply Flannel networking
  command: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
  when: inventory_hostname == groups['masters'][0]

- name: Generate join command
  command: kubeadm token create --print-join-command
  register: join_command
  when: inventory_hostname == groups['masters'][0]

- name: Save join command to file
  copy:
    content: "{{ join_command.stdout }}"
    dest: /tmp/join-command.sh
  when: inventory_hostname == groups['masters'][0]
