# Tasks for Kubernetes worker nodes

- name: Add Kubernetes apt repository
  apt_repository:
    repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
    state: present
    filename: kubernetes

- name: Install Kubernetes components
  apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: present
    update_cache: yes

- name: Hold Kubernetes packages at current version
  dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop:
    - kubelet
    - kubeadm
    - kubectl

- name: Copy join command from master
  copy:
    src: /tmp/join-command.sh
    dest: /tmp/join-command.sh
    mode: '0755'
  when: inventory_hostname == groups['masters'][0]

- name: Join cluster
  command: sh /tmp/join-command.sh
  when: inventory_hostname in groups['workers']
